################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MISIS_2022_WebServices/bin/Debug/netcoreapp3.1
/MISIS_2022_WebServices/obj
/MISIS_2022_WebServices/json.json
